# Dependencies
node_modules

# Build outputs
dist
build
storybook-static

# Coverage
coverage

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock
